.listSection {
    display: flex;
    flex-direction: column;
}

.profileImage {
    height: auto !important;
    max-width: 10% !important;
}

.nameText {
    display: flex;
    flex-direction: column;
    padding-left:3%;
}

.postImage {
    height: auto !important;
    max-width: 35% !important;
}

.likeIcon {
    height: 6vh;
    width: auto;
}

.likeText {
    width: auto;
    padding-left: 3%;
}

.tags {
    background-color: #EE5162;
}